<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
	<title>{{location[0][0]}}{{location[0][1]}}{{location[0][2]}}</title>
	 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />

    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    
	<script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=0rTGCTLw6ASkgIhPEYGIR72vECGoLZiJ"></script>
	<script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-geocoding.js?key=0rTGCTLw6ASkgIhPEYGIR72vECGoLZiJ"></script>
   	<style>
  		#map{height: 100%}
	</style>
</head>

<body>
	<div id="map"></div>
	<h1></h1>
	<script type="text/javascript">
		//init map
		
        
		window.onload = function() {
			
			
			var popup = L.popup(),
			geocode,
			map;
			var location = {{location|safe}}
			

			map = L.map('map',{
					layers: MQ.mapLayer(),
					center: [44.052071, -123.086754],
					zoom: 14 })

				.on('click', function(e) {
					popup.setLatLng(e.latlng).openOn(this);

					geocode.reverse(e.latlng);
					
				});

			for (var i = 0; i < location.length; i++) {
            	var latlng = L.latLng(location[i][1], location[i][2]);
            	L.marker(latlng).addTo(map).bindPopup(location[i][0]);
            }

			geocode = MQ.geocode().on('success', function(e){
				popup.setContent(geocode.describeLocation(e.result.best))
			});

			var marker = L.marker([44.052071, -123.086754],
					{
						title: "info",
						zIndexOffset: -10

					}).addTo(map);

			
		//load tile layer

		//Add Markers
		}
       
	</script>

</body>
</html>